name: jail
on:
  push:

jobs:
  F14:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Jail
        uses: vmactions/freebsd-vm@v1
        with:
          release: "14.3"
          copyback: false
          run: |
            REL=14.3 ci/bootstrap-fbsd
            make test

  F15:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Jail
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          copyback: false
          run: |
            REL=15.0 ci/bootstrap-fbsd
            make test

  H16:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Jail
        uses: 0x1eef/hardenedbsd-vm@v1
        with:
          release: '16-CURRENT'
          run: |
            REL=current ci/bootstrap-hbsd
            mdo -u root make test
