name: jail
on: [push]

jobs:
  F15:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Jail
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          copyback: false
          run: |
            REL=15.0 ci/bootstrap
            make test
