name: jail
on:
  push:
  pull_request:
    branches: [master]

jobs:
  F14:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Jail
        uses: vmactions/freebsd-vm@v1
        with:
          release: "14.3"
          copyback: false
          run: |
            REL=14.3 ci/bootstrap
            make test

  F15:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Jail
        uses: vmactions/freebsd-vm@v1
        with:
          release: "15.0"
          copyback: false
          run: |
            REL=15.0 ci/bootstrap
            make test

  H16:
    runs-on: ubuntu-latest
    steps:
      uses: actions/checkout@v4
    - name: Jail
      uses: 0x1eef/hardenedbsd-vm@v1
      with:
        release: '16-CURRENT'
        run: |
          mdo -u root pkg-static install -y go curl unzip
          curl https://github.com/HardenedBSD/hardenedBSD/archive/refs/heads/hardened/current/master.zip -o base.zip
          unzip base.zip -d /tmp/jail
          rm base.zip
          mdo -u make test
